@import url(https://fonts.googleapis.com/css?family=Roboto);
#cssmenu {
  width: 250px;
  font-family: Roboto, Helvetica, sans-serif;
}
#cssmenu i {
  margin-right: 5px;
}
#cssmenu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}
#cssmenu ul li {
  position: relative;
  display: block;
}
#cssmenu ul li a {
  display: block;
  text-decoration: none;
  position: relative;
}
#cssmenu > ul {
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
#cssmenu > ul > li:first-child > a {
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
#cssmenu > ul > li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

#cssmenu > ul > li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888888;
  right: 15px;
  top: 17px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu > ul > li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #fff;
}
#cssmenu > ul > li:hover > a::after {
  border-top-color: #fff;
}
#cssmenu > ul > li > a {
  padding: 12px 15px;
  color: #fff;
  transition: all 0.3s ease-out;
  font-size: 14px;
  border-bottom: 1px solid #fff
}


#cssmenu ul ul li.has-sub > a::after {
  content: '';
  position: absolute;
  display: block;
  border: 5px solid transparent;
  border-top-color: #888888;
  right: 15px;
  top: 15px;
  transition: all .25s ease;
  transform-origin: 0 25%;
}
#cssmenu ul ul li.has-sub.active > a::after {
  transform: rotateX(180deg);
  border-top-color: #fff;
}
#cssmenu ul ul li:hover > a::after {
  border-top-color: #fff;
}
#cssmenu ul ul li a {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid #fff
}

#cssmenu ul ul ul li a {
  padding-left: 25px;
}
