/*
***************************************************************
***************************************************************

Template Name  : NAME | One Page Multipurpose Template
Author         : Hassan
Author URI     : http: //hasanrashed.com
File           : Style.css


@NOTE: This file contains the stylesheet for this template.
you may need to edit this file to change your contents style.
This file contents are outlined below

***************************************************************
***************************************************************

========== INDEX PAGE CSS ==========
------------------------------------

*** -  1. Template Default Css
*** -  2. Template Background Css
*** -  3. Template Position Css 
*** -  4. Template Hover Css   
*** -  5. Template Buttons Css
*** -  6. Header Area Css
*** -  7. Welcome Area Css
*** -  8. Service Area Css
*** -  9. Team Area Css
*** - 10. Video Area Css 
*** - 11. Work Area Css
*** - 12. Testimonial Area Css
*** - 13. Pricing Area Css
*** - 14. Project Complete Area Css
*** - 15. Blog Area Css
*** - 16. Map Area Css
*** - 17. Brand Area Css
*** - 18. Footer Area Css
*** - 19. Template Hover Css
*** - 20. Template Transition Css


*/


/****
*   GOOGLE FONTS
*   =============================
*/

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato:400,700,900|Titillium+Web:400,600,700,900');
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #222;
    line-height: 1.5em;
    /*font-family: 'Titillium Web', sans-serif;
    font-family: 'Titillium Web', sans-serif;
font-family: 'Archivo Black', sans-serif;
    */
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a{
    text-decoration: none;
}

/*
=========----------------------------------=========
            1.Template Default Css     
=========----------------------------------=========
*/

.section-padding {
    padding: 100px 0;
}

.txt-container{
    max-width: 996px;
    margin: 0 auto;
}
/*
=========----------------------------------=========
            2.Template Background Css     
=========----------------------------------=========
*/


.header-top {
    background:  #002B4B;
}

/*
=========----------------------------------=========
            3.Template Position Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            4.Template Hover Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            5.Template Buttons Css     
=========----------------------------------=========
*/


/*
=========----------------------------------=========
            6.Header Area Css     
=========----------------------------------=========
*/

.header-top-content form {
    float:  left;
    width: 80%;
    margin:  5px 0;
}

.header-top-content a {
    float:  right;
    display:  inline-block;
    margin-top: 5px;
    color:  #fff;
    text-decoration:  none;
}

.header-top-content input {
    height:  25px;
}

.header-top-content .input-group-addon {
    height: 23px;
    background: #fff;
    margin-top:  1px;
}

.header-top-content i.fa {
    color:  #4B7596;
    font-size:  12px;
}

.main-header{
    background: #00528c;
background: -moz-linear-gradient(top, #00528c 0%, #00528c 88%, #003257 97%);
background: -webkit-linear-gradient(top, #00528c 0%,#00528c 88%,#003257 97%);
background: linear-gradient(to bottom, #00528c 0%,#00528c 88%,#003257 97%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00528c', endColorstr='#003257',GradientType=0 );
}
.main-header {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color:  #fff;
}

.logo-txt h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    font-size: 22px;
    margin-top: 6px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.header-logo-content h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}

.header-logo-content span {
    font-size:  70%;
}

.header-menu li {
    display:  inline-block;
}

.header-menu li a {
    color:  #fff;
    padding: 10px 24px;
    font-size:  17px;
    text-decoration: none;
    box-shadow: 0 0 15px #003257;
    border-radius: 5px;
}

.header-menu li a {
    background: #1081c8;
    background: -moz-linear-gradient(top, #1081c8 0%, #0769a9 72%, #003257 100%);
    background: -webkit-linear-gradient(top, #1081c8 0%,#0769a9 72%,#003257 100%);
    background: linear-gradient(to bottom, #1081c8 0%,#0769a9 72%,#003257 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1081c8', endColorstr='#003257',GradientType=0 );
}

ul.header-menu {
    padding:  10px 0;
}

a.nav-toggle{
    text-align: center;
    display: block;
    visibility: hidden;
}
a.nav-toggle i.fa {
    font-size:  25px;
    color:  #fff;
    border: 1px solid #ccc;
    width: 40px;
    height:  35px;
    text-align:  center;
    line-height:  35px;
    border-radius:  3px;

}

/*
=========----------------------------------=========
            7.Welcome Area Css     
=========----------------------------------=========
*/
.page-title {
    background:  #00548E;
    color:  #fff;
    padding: 7px 0;
}

.page-title h5 {
    font-size:  12px;
    margin:  0;
    padding-left: 15px;
}

.hero-area img {
    width:  100%;
    height: 222px;
}

.news-img img {
    width:  100%;
    height: 152px;
}

.news-txt h4 {
    font-size:  13px;
    margin-top: 12px;
    margin-bottom:  5px;
}

.news {
    color:  #00548E;
    border-bottom: 1px solid #ccc;
        padding: 0 10px 10px 10px;
}

a.news-btn {
    color:  #00548E;
    text-decoration:  none;
    display:  block;
}

.news-txt p {
    margin-bottom:  5px;
    font-size: 13px;
    line-height: 1.5;
    min-height: 99px;
    }

.news-heading h3 {
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 900;
    margin-top: 10px;
}

.news-heading {
    padding:  10px 0;
    border-bottom:  1px solid #ccc;
    margin-bottom:  10px;
}

body {
    background: #002b4b;
    background: -moz-linear-gradient(top, #002b4b 0%, #1e5799 0%, #1288d0 100%);
    background: -webkit-linear-gradient(top, #002b4b 0%,#1e5799 0%,#1288d0 100%);
    background: linear-gradient(to bottom, #002b4b 0%,#1e5799 0%,#1288d0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002b4b', endColorstr='#1288d0',GradientType=0 );
}

.main-content {
    background:  #fff;
}

.widget {
    margin-top: 20px;
}

ul.side-menu a {
    color:  #fff;
}

ul.side-menu li.dropdown li a {
    color: #00528C;
    padding-left: 10px;
}

ul.side-menu a {
    text-decoration: none;
    padding: 15px;
}

ul.side-menu li {
    padding: 2px 0px;
}

.info-txt {
    margin-top:  52px;
    padding-top:  15px;
}

.info-txt p {
    margin-bottom:  0;
        font-size: 12px;
    color: #fff;
    line-height: 1.3;
}

.info-txt a {
    color:  #fff;
    text-decoration:  none;
    font-size: 12px;
    line-height: 1.3;
}

/*
=========----------------------------------=========
            10.Footer Area Css     
=========----------------------------------=========
*/
.footer-wedget {
    color:  #fff;
    margin-top:  25px;
}

.footer-wedget h3 {
    margin-bottom:  5px;
}

.copy-right {
    padding:  10px 0;
    border-top:  1px solid #777;
    margin-top:  20px;
}

/*
=========----------------------------------=========
            Scroll To Top Area Css     
=========----------------------------------=========
*/

/*
=========----------------------------------=========
            Pre Loader Area Css     
=========----------------------------------=========
*/

.header-menu .active {
    background: #1783cf;
    background: -moz-linear-gradient(top, #1783cf 0%, #00548e 100%);
    background: -webkit-linear-gradient(top, #1783cf 0%,#00548e 100%);
    background: linear-gradient(to bottom, #1783cf 0%,#00548e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1783cf', endColorstr='#00548e',GradientType=0 );
    padding: 20px 36px;
}

/*
 -------------------=======================----------------
|                       BLOG PAGE CSS                      |
 -------------------=======================----------------
*/

@media screen and (max-width: 1199px) and (min-width: 320px){
    .header-menu .active{
        color:  #fff;
        padding: 10px 24px;
        font-size:  17px;
        text-decoration: none;
        box-shadow: 0 0 15px #003257;
        border-radius: 5px;
    }
    .header-menu .active{
        background: #1081c8;
        background: -moz-linear-gradient(top, #1081c8 0%, #0769a9 72%, #003257 100%);
        background: -webkit-linear-gradient(top, #1081c8 0%,#0769a9 72%,#003257 100%);
        background: linear-gradient(to bottom, #1081c8 0%,#0769a9 72%,#003257 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1081c8', endColorstr='#003257',GradientType=0 );
    }
    a.nav-toggle{
        visibility: visible;

    }
    .header-menu li{
        display: block;
    }
   .header-menu li a{
    display: block;
    text-align: center;
   }
}

